In [ ]:
#importing libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import matplotlib.pyplot as plt
import pandas
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score

In [ ]:
#importing the dataset
dataset = pd.read_csv('NIFTY50_all.csv', engine='python')
dataset.head(5)

         Date      Symbol Series  ...  Trades  Deliverable Volume  %Deliverble
0  2007-11-27  MUNDRAPORT     EQ  ...     NaN           9859619.0       0.3612
1  2007-11-28  MUNDRAPORT     EQ  ...     NaN           1453278.0       0.3172
2  2007-11-29  MUNDRAPORT     EQ  ...     NaN           1069678.0       0.2088
3  2007-11-30  MUNDRAPORT     EQ  ...     NaN           1260913.0       0.2735
4  2007-12-03  MUNDRAPORT     EQ  ...     NaN            816123.0       0.2741

[5 rows x 15 columns]

In [ ]:
#selecting time period range
dataset = dataset[(dataset.Date >'1999-12-31')]

In [ ]:
# viewing dataset shape count of rows and columns
dataset.shape

(235192, 15)

In [ ]:
#dropping null values in dataset
dataset=dataset.dropna()
dataset.head(5)

           Date      Symbol Series  ...   Trades  Deliverable Volume  %Deliverble
866  2011-06-01  MUNDRAPORT     EQ  ...  19171.0           1271255.0       0.4939
867  2011-06-02  MUNDRAPORT     EQ  ...  16176.0            791462.0       0.4658
868  2011-06-03  MUNDRAPORT     EQ  ...  14810.0            722154.0       0.6090
869  2011-06-06  MUNDRAPORT     EQ  ...   7071.0            386144.0       0.7067
870  2011-06-07  MUNDRAPORT     EQ  ...  17865.0           1425849.0       0.6500

[5 rows x 15 columns]

In [ ]:
#validation null values have been dropped
dataset.isnull().sum().sum()

0

In [ ]:
#factorizing symbol column
dataset['Symbol']=pd.factorize(dataset.Symbol)[0]

In [ ]:
#dropping of column from dataset
dataset1=dataset.drop('Series',1)
dataset1.head(2)

           Date  Symbol  Prev Close  ...   Trades  Deliverable Volume  %Deliverble
866  2011-06-01       0      161.45  ...  19171.0           1271255.0       0.4939
867  2011-06-02       0      164.00  ...  16176.0            791462.0       0.4658

[2 rows x 14 columns]

In [ ]:
#identifying and selecting our x and y variables from dataset
y=dataset1.iloc[:,dataset1.columns=='Volume'].values
x=dataset1.iloc[:,dataset1.columns!='Volume'].values

In [ ]:
# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
y = scaler.fit_transform(y)
y

array([[0.00659043],
       [0.00435065],
       [0.00303598],
       ...,
       [0.02158189],
       [0.02427935],
       [0.02927778]])

In [ ]:
"""With time series data, the sequence of values is important. A simple method that we can use is to split the ordered dataset into train and test datasets. The code below calculates the index of the split point and separates the data into the training datasets with 67% of the observations that we can use to train our model, leaving the remaining 33% for testing the model."""

# split into train and test sets
train_size = int(len(y) * 0.70)
test_size = len(y) - train_size
train, test = y[0:train_size,:], y[train_size:len(y),:]
print(len(train), len(test))

84240 36104

In [ ]:
"""The function takes two arguments: the dataset, which is a NumPy array that we want to convert into a dataset, and the look_back, which is the number of previous time steps to 
use as input variables to predict the next time period — in this case defaulted to 1.

This default will create a dataset where X is the number of passengers at a given time (t) and Y is the number of passengers at the next time (t + 1).

It can be configured, and we will by constructing a differently shaped dataset in the next section.
"""

# convert an array of values into a dataset matrix
def create_dataset(y, look_back=1):
	dataX, dataY = [], []
	for i in range(len(y)-look_back-1):
		a = y[i:(i+look_back), 0]
		dataX.append(a)
		dataY.append(y[i + look_back, 0])
	return numpy.array(dataX), numpy.array(dataY)

In [ ]:
# reshape into X=t and Y=t+1
look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

In [ ]:
"""The LSTM network expects the input data (X) to be provided with a specific array structure in the form of: [samples, time steps, features].

Currently, our data is in the form: [samples, features] and we are framing the problem as 
one time step for each sample. We can transform the prepared train and test input data into the expected structure using numpy.reshape() as follows:
"""

# reshape input to be [samples, time steps, features]
import numpy as np
trainX = np.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))
testX = np.reshape(testX, (testX.shape[0], 1, testX.shape[1]))
trainX.shape

(84238, 1, 1)

In [ ]:
"""We are now ready to design and fit our LSTM network for this problem.
The network has a visible layer with 1 input, a hidden layer with 4 LSTM blocks or neurons, and an output layer that makes a single value prediction. The default sigmoid activation function is used for the LSTM blocks. The network is trained for 100 epochs and a batch size of 1 is used.
"""

# create and fit the LSTM network
model = Sequential()
model.add(LSTM(4, input_shape=(1, look_back)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(trainX, trainY, epochs=20, batch_size=1, verbose=2)

Epoch 1/20
84238/84238 - 100s - loss: 1.7155e-04
Epoch 2/20
84238/84238 - 98s - loss: 1.5731e-04
Epoch 3/20
84238/84238 - 99s - loss: 1.5226e-04
Epoch 4/20
84238/84238 - 98s - loss: 1.5114e-04
Epoch 5/20
84238/84238 - 98s - loss: 1.5125e-04
Epoch 6/20
84238/84238 - 98s - loss: 1.5108e-04
Epoch 7/20
84238/84238 - 98s - loss: 1.5063e-04
Epoch 8/20
84238/84238 - 98s - loss: 1.5100e-04
Epoch 9/20
84238/84238 - 97s - loss: 1.5097e-04
Epoch 10/20
84238/84238 - 97s - loss: 1.5099e-04
Epoch 11/20
84238/84238 - 98s - loss: 1.5097e-04
Epoch 12/20
84238/84238 - 98s - loss: 1.5081e-04
Epoch 13/20
84238/84238 - 98s - loss: 1.5003e-04
Epoch 14/20
84238/84238 - 97s - loss: 1.5047e-04
Epoch 15/20
84238/84238 - 96s - loss: 1.5079e-04
Epoch 16/20
84238/84238 - 98s - loss: 1.5049e-04
Epoch 17/20
84238/84238 - 97s - loss: 1.5075e-04
Epoch 18/20
84238/84238 - 96s - loss: 1.5098e-04
Epoch 19/20
84238/84238 - 96s - loss: 1.5058e-04
Epoch 20/20
84238/84238 - 96s - loss: 1.5043e-04

In [ ]:
"""Once the model is fit, we can estimate the performance of the model on the train and test datasets. This will give us a point of comparison for new models.

Note that we invert the predictions before calculating error scores to ensure that performance is 
reported in the same units as the original data (Stock Volume)
"""

# make predictions
trainPredict = model.predict(trainX)
testPredict = model.predict(testX)

# calculate root mean squared error
trainscore = math.sqrt(mean_squared_error(trainY, trainPredict))
print('Train Score: %.10f RMSE' % (trainscore))
testScore = math.sqrt(mean_squared_error(testY, testPredict))
print('Test Score: %.10f RMSE' % (testScore))

Train Score: 0.0120098050 RMSE
Test Score: 0.0214047528 RMSE

In [ ]:
#R-Squared score for training dataset
#rsquared =r2_score(trainY, trainPredict)
#rsquared

0.591405235839739

In [ ]:
#R-Squared score for testing dataset
rsquared =r2_score(testY, testPredict)
rsquared

0.5818189214836402